In [1]:
#Financial literacy
# importing the pandas library 
import pandas as pd 
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
# reading the csv file 
df = pd.read_csv(csv_file) 
  
# updating the column value/data 
df['FinancialLiteracyScore'] = 1 + 2 * (df['Do you make day-to-day decisions about your own money?'] == 'Yes')
+ 1 * (df['I tend to live for today and let tomorrow take care of itself. '])+ 1 * (df['I find it more satisfying to spend money than to save it for the long term. ']) - 1 * (df['I pay my bills on time.']) -1 * (df['I am prepared to risk some of my own money when saving or making an investment.'])
-1 * (df['I keep a close personal watch on my finance'])-1 * (df['I set long term financial goals and strive to achieve them. '])-1 * (df['I have money left over to be spent at the end of the month '])-1 * (df['Before I buy something I carefully consider whether I can afford it '])
-1 * (df['Sometimes people find that their income does not quite cover their living costs. In the last 12 months, has this happened to you?'])
+1 * (df['Some people set themselves financial goals, such as paying university fees, buying a car or becoming debt free. Do you (personally, or with your family) have any financial goals? ']== 'Yes')



# writing into the file 
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False) 
  
print(df)

              Timestamp     Formal Education in  Gender        Age  \
0   11/27/2023 14:42:09                   Other    Male  21-30 yrs
1   11/27/2023 14:44:29                   Other    Male  21-30 yrs
2   11/27/2023 14:45:08                   Other  Female  15-20 yrs
3   11/27/2023 14:51:24  Finance related domain    Male  21-30 yrs
4   11/27/2023 14:55:14                   Other  Female  21-30 yrs
5   11/27/2023 14:55:19  Finance related domain    Male  21-30 yrs
6   11/27/2023 14:58:34  Finance related domain    Male  21-30 yrs
7   11/27/2023 14:59:26                   Other    Male  21-30 yrs
8   11/27/2023 15:43:51                   Other  Female  21-30 yrs
9   11/27/2023 16:08:39                   Other  Female  21-30 yrs
10  11/29/2023 10:39:21  Finance related domain  Female  21-30 yrs
11  11/29/2023 11:19:26                   Other  Female  21-30 yrs
12  11/29/2023 11:20:32  Finance related domain  Female  21-30 yrs
13  11/29/2023 11:20:48                   Other    Male  21-30 yrs
14  11/29/2023 11:25:55                   Other  Female  21-30 yrs
15  11/29/2023 11:38:55                   Other    Male  15-20 yrs
16  11/29/2023 11:49:21                   Other    Male  21-30 yrs
17  11/29/2023 11:50:42                   Other    Male  21-30 yrs
18  11/29/2023 12:50:26  Finance related domain  Female  21-30 yrs
19  11/29/2023 13:10:15  Finance related domain    Male  21-30 yrs
20  11/29/2023 13:17:34                   Other  Female  21-30 yrs
21  11/29/2023 13:39:15                   Other    Male  21-30 yrs
22  11/29/2023 16:27:43  Finance related domain    Male  21-30 yrs
23  11/29/2023 18:34:35                   Other    Male  21-30 yrs
24  11/29/2023 19:53:19  Finance related domain    Male  21-30 yrs
25  11/29/2023 20:30:11  Finance related domain  Female  21-30 yrs
26  11/29/2023 23:04:19                   Other    Male  15-20 yrs
27     12-02-2023 18:58                   Other  Female  21-30 yrs
28     12-04-2023 13:47  Finance related domain    Male  21-30 yrs
29     12-04-2023 13:52                   Other  Female  21-30 yrs
30  12/13/2023 20:06:27                   Other  Female  21-30 yrs
31  12/13/2023 20:49:48                   Other  Female  21-30 yrs
32  12/13/2023 21:11:18                   Other  Female  21-30 yrs
33  12/13/2023 22:06:38                   Other    Male  21-30 yrs

   Education Level Region (currently living in)  \
0        Bachelors                         City
1          Masters                         Town
2          Masters                      Village
3          Masters                      Village
4          Masters                      Village
5          Masters                         Town
6    PhD/Doctorate                         City
7        Bachelors                         Town
8          Masters                         Town
9        Bachelors                      Village
10         Masters                      Village
11       Bachelors                      Village
12         Masters                         Town
13         Masters                         Town
14         Masters                         Town
15       Bachelors                      Village
16         Masters                         Town
17       Bachelors                         Town
18       Bachelors                         City
19         Masters                         Town
20         Masters                         City
21         Masters                      Village
22         Masters                      Village
23       Bachelors                      Village
24         Masters                         Town
25       Bachelors                         City
26         Masters                         Town
27         Masters                         City
28         Masters                      Village
29       Bachelors                      Village
30       Bachelors                      Village
31         Masters                      Village
32       Bachelors                         Town
33       Bachelors                      Village

   Who do you usually live with in your household? Do you liveâ€¦  \
0                                         With Family
1                                         With Family
2                                         With Family
3                                         With Family
4                                         With Family
5                                         With Family
6                                         With Family
7                                         With Family
8                                         With Family
9                                         With Family
10                                        With Family
11                                        With Family
12                                        With Family
13                                        With Family
14                                        With Family
15                                        With Family
16                                        With Family
17                                        With Family
18                                        With Family
19                                        With Family
20                                        With Family
21                                        With Family
22                                        With Family
23                                        With Family
24                                        With Family
25                                        With Family
26                                        With Family
27                                        With Family
28                                        With Family
29                                        With Family
30                                        With Family
31                                        With Family
32                                        With Family
33                                        With Family

    Number of Members in Family  \
0                             4
1                             3
2                             4
3                            16
4                             3
5                             5
6                             4
7                             2
8                             5
9                             5
10                            5
11                            6
12                            7
13                            3
14                            3
15                            3
16                            3
17                            4
18                            2
19                            5
20                            4
21                            5
22                            5
23                            4
24                            4
25                            6
26                            3
27                            4
28                            7
29                            4
30                            5
31                            3
32                            6
33                            3

    How many members are responsible for managing household income?  \
0                                                   3
1                                                   2
2                                                   2
3                                                   6
4                                                   2
5                                                   2
6                                                   2
7                                                   1
8                                                   3
9                                                   5
10                                                  2
11                                                  1
12                                                  5
13                                                  1
14                                                  1
15                                                  3
16                                                  2
17                                                  1
18                                                  1
19                                                  1
20                                                  1
21                                                  2
22                                                  1
23                                                  1
24                                                  1
25                                                  4
26                                                  1
27                                                  1
28                                                  5
29                                                  2
30                                                  2
31                                                  2
32                                                  2
33                                                  3

   Do you contribute to household expenditure?  ...  \
0                                           No  ...
1                                           No  ...
2                                           No  ...
3                                           No  ...
4                                           No  ...
5                                           No  ...
6                                           No  ...
7                                          Yes  ...
8                                           No  ...
9                                           No  ...
10                                          No  ...
11                                          No  ...
12                                          No  ...
13                                          No  ...
14                                          No  ...
15                                         Yes  ...
16                                          No  ...
17                                          No  ...
18                                          No  ...
19                                          No  ...
20                                         Yes  ...
21                                          No  ...
22                                          No  ...
23                                          No  ...
24                                          No  ...
25                                          No  ...
26                                         Yes  ...
27                                          No  ...
28                                         Yes  ...
29                                          No  ...
30                                          No  ...
31                                         Yes  ...
32                                          No  ...
33                                         Yes  ...

   How much do you spend on travel every week on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on clothes and accessories every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on daily neccesseties every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

    FinancialLiteracyScore  EducationScore  Count_financialProductsKnown  \
0                        3               2                            11
1                        1               3                             8
2                        1               3                             8
3                        3               6                             3
4                        1               3                            10
5                        3               6                            10
6                        1               4                            12
7                        3               2                             7
8                        3               3                             8
9                        3               2                             6
10                       3               6                            12
11                       3               2                             6
12                       3               6                            10
13                       3               3                            10
14                       3               3                             9
15                       3               2                            11
16                       1               3                             9
17                       1               2                             6
18                       3               5                            11
19                       3               6                             8
20                       3               3                             8
21                       3               3                             4
22                       3               6                             5
23                       3               2                            10
24                       1               6                            10
25                       3               5                            11
26                       3               3                            10
27                       3               3                             8
28                       3               6                            12
29                       1               2                             7
30                       1               2                             5
31                       1               3                             6
32                       1               2                             5
33                       3               2                             9

    Count_financialProductsOwned  Count_financialProductsChosen  \
0                              3                              3
1                              1                              1
2                              4                              4
3                              2                              2
4                              3                              1
5                              2                              1
6                              4                              3
7                              1                              1
8                              5                              3
9                              2                              1
10                             3                              3
11                             1                              1
12                             1                              1

In [2]:
#EducationScore
# importing the pandas library 
import pandas as pd 
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
# reading the csv file 
df = pd.read_csv(csv_file) 
  
# updating the column value/data 
df['EducationScore'] = 4 * (df['Formal Education in'] == 'Finance related domain')+ 1 * (df['Formal Education in'] == 'Other')+ 1 * (df['Education Level']== 'Bachelors') + 2 * (df['Education Level']== 'Masters') + 3 * (df['Education Level']== 'Phd/Doctorate')
# writing into the file 
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False) 
  
print(df)

              Timestamp     Formal Education in  Gender        Age  \
0   11/27/2023 14:42:09                   Other    Male  21-30 yrs
1   11/27/2023 14:44:29                   Other    Male  21-30 yrs
2   11/27/2023 14:45:08                   Other  Female  15-20 yrs
3   11/27/2023 14:51:24  Finance related domain    Male  21-30 yrs
4   11/27/2023 14:55:14                   Other  Female  21-30 yrs
5   11/27/2023 14:55:19  Finance related domain    Male  21-30 yrs
6   11/27/2023 14:58:34  Finance related domain    Male  21-30 yrs
7   11/27/2023 14:59:26                   Other    Male  21-30 yrs
8   11/27/2023 15:43:51                   Other  Female  21-30 yrs
9   11/27/2023 16:08:39                   Other  Female  21-30 yrs
10  11/29/2023 10:39:21  Finance related domain  Female  21-30 yrs
11  11/29/2023 11:19:26                   Other  Female  21-30 yrs
12  11/29/2023 11:20:32  Finance related domain  Female  21-30 yrs
13  11/29/2023 11:20:48                   Other    Male  21-30 yrs
14  11/29/2023 11:25:55                   Other  Female  21-30 yrs
15  11/29/2023 11:38:55                   Other    Male  15-20 yrs
16  11/29/2023 11:49:21                   Other    Male  21-30 yrs
17  11/29/2023 11:50:42                   Other    Male  21-30 yrs
18  11/29/2023 12:50:26  Finance related domain  Female  21-30 yrs
19  11/29/2023 13:10:15  Finance related domain    Male  21-30 yrs
20  11/29/2023 13:17:34                   Other  Female  21-30 yrs
21  11/29/2023 13:39:15                   Other    Male  21-30 yrs
22  11/29/2023 16:27:43  Finance related domain    Male  21-30 yrs
23  11/29/2023 18:34:35                   Other    Male  21-30 yrs
24  11/29/2023 19:53:19  Finance related domain    Male  21-30 yrs
25  11/29/2023 20:30:11  Finance related domain  Female  21-30 yrs
26  11/29/2023 23:04:19                   Other    Male  15-20 yrs
27     12-02-2023 18:58                   Other  Female  21-30 yrs
28     12-04-2023 13:47  Finance related domain    Male  21-30 yrs
29     12-04-2023 13:52                   Other  Female  21-30 yrs
30  12/13/2023 20:06:27                   Other  Female  21-30 yrs
31  12/13/2023 20:49:48                   Other  Female  21-30 yrs
32  12/13/2023 21:11:18                   Other  Female  21-30 yrs
33  12/13/2023 22:06:38                   Other    Male  21-30 yrs

   Education Level Region (currently living in)  \
0        Bachelors                         City
1          Masters                         Town
2          Masters                      Village
3          Masters                      Village
4          Masters                      Village
5          Masters                         Town
6    PhD/Doctorate                         City
7        Bachelors                         Town
8          Masters                         Town
9        Bachelors                      Village
10         Masters                      Village
11       Bachelors                      Village
12         Masters                         Town
13         Masters                         Town
14         Masters                         Town
15       Bachelors                      Village
16         Masters                         Town
17       Bachelors                         Town
18       Bachelors                         City
19         Masters                         Town
20         Masters                         City
21         Masters                      Village
22         Masters                      Village
23       Bachelors                      Village
24         Masters                         Town
25       Bachelors                         City
26         Masters                         Town
27         Masters                         City
28         Masters                      Village
29       Bachelors                      Village
30       Bachelors                      Village
31         Masters                      Village
32       Bachelors                         Town
33       Bachelors                      Village

   Who do you usually live with in your household? Do you liveâ€¦  \
0                                         With Family
1                                         With Family
2                                         With Family
3                                         With Family
4                                         With Family
5                                         With Family
6                                         With Family
7                                         With Family
8                                         With Family
9                                         With Family
10                                        With Family
11                                        With Family
12                                        With Family
13                                        With Family
14                                        With Family
15                                        With Family
16                                        With Family
17                                        With Family
18                                        With Family
19                                        With Family
20                                        With Family
21                                        With Family
22                                        With Family
23                                        With Family
24                                        With Family
25                                        With Family
26                                        With Family
27                                        With Family
28                                        With Family
29                                        With Family
30                                        With Family
31                                        With Family
32                                        With Family
33                                        With Family

    Number of Members in Family  \
0                             4
1                             3
2                             4
3                            16
4                             3
5                             5
6                             4
7                             2
8                             5
9                             5
10                            5
11                            6
12                            7
13                            3
14                            3
15                            3
16                            3
17                            4
18                            2
19                            5
20                            4
21                            5
22                            5
23                            4
24                            4
25                            6
26                            3
27                            4
28                            7
29                            4
30                            5
31                            3
32                            6
33                            3

    How many members are responsible for managing household income?  \
0                                                   3
1                                                   2
2                                                   2
3                                                   6
4                                                   2
5                                                   2
6                                                   2
7                                                   1
8                                                   3
9                                                   5
10                                                  2
11                                                  1
12                                                  5
13                                                  1
14                                                  1
15                                                  3
16                                                  2
17                                                  1
18                                                  1
19                                                  1
20                                                  1
21                                                  2
22                                                  1
23                                                  1
24                                                  1
25                                                  4
26                                                  1
27                                                  1
28                                                  5
29                                                  2
30                                                  2
31                                                  2
32                                                  2
33                                                  3

   Do you contribute to household expenditure?  ...  \
0                                           No  ...
1                                           No  ...
2                                           No  ...
3                                           No  ...
4                                           No  ...
5                                           No  ...
6                                           No  ...
7                                          Yes  ...
8                                           No  ...
9                                           No  ...
10                                          No  ...
11                                          No  ...
12                                          No  ...
13                                          No  ...
14                                          No  ...
15                                         Yes  ...
16                                          No  ...
17                                          No  ...
18                                          No  ...
19                                          No  ...
20                                         Yes  ...
21                                          No  ...
22                                          No  ...
23                                          No  ...
24                                          No  ...
25                                          No  ...
26                                         Yes  ...
27                                          No  ...
28                                         Yes  ...
29                                          No  ...
30                                          No  ...
31                                         Yes  ...
32                                          No  ...
33                                         Yes  ...

   How much do you spend on travel every week on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on clothes and accessories every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on daily neccesseties every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

    FinancialLiteracyScore  EducationScore  Count_financialProductsKnown  \
0                        3               2                            11
1                        1               3                             8
2                        1               3                             8
3                        3               6                             3
4                        1               3                            10
5                        3               6                            10
6                        1               4                            12
7                        3               2                             7
8                        3               3                             8
9                        3               2                             6
10                       3               6                            12
11                       3               2                             6
12                       3               6                            10
13                       3               3                            10
14                       3               3                             9
15                       3               2                            11
16                       1               3                             9
17                       1               2                             6
18                       3               5                            11
19                       3               6                             8
20                       3               3                             8
21                       3               3                             4
22                       3               6                             5
23                       3               2                            10
24                       1               6                            10
25                       3               5                            11
26                       3               3                            10
27                       3               3                             8
28                       3               6                            12
29                       1               2                             7
30                       1               2                             5
31                       1               3                             6
32                       1               2                             5
33                       3               2                             9

    Count_financialProductsOwned  Count_financialProductsChosen  \
0                              3                              3
1                              1                              1
2                              4                              4
3                              2                              2
4                              3                              1
5                              2                              1
6                              4                              3
7                              1                              1
8                              5                              3
9                              2                              1
10                             3                              3
11                             1                              1
12                             1                              1

In [3]:
#counting the number of financial products known
import pandas as pd

# Load the CSV file
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
df = pd.read_csv(csv_file)

# Assuming 'Values' is the column containing comma-separated values
df['Count_financialProductsKnown'] = df['Please can you tell me whether you have heard of any of these types of financial products.'].str.count(',') + 1

# Save the modified DataFrame to a new CSV file
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False)

In [4]:
#count of number of producttypes (personally or jointly) held?
#counting the number of financial products owned
import pandas as pd

# Load the CSV file
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
df = pd.read_csv(csv_file)

# Assuming 'Values' is the column containing comma-separated values
df['Count_financialProductsOwned'] = df['Now can you tell me whether you currently hold any of these types of products (personally or jointly)?'].str.count(',') + 1

# Save the modified DataFrame to a new CSV file
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False)

In [5]:
#count of number of producttypes (personally or jointly) held?
#counting the number of financial products owned
import pandas as pd

# Load the CSV file
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
df = pd.read_csv(csv_file)

# Assuming 'Values' is the column containing comma-separated values
df['Count_financialProductsChosen'] = df['In the  last two years, which of the following types of financial products have you chosen (Personally or jointly) whether or not you still hold themâ€¦'].str.count(',') + 1

# Save the modified DataFrame to a new CSV file
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False)

In [6]:
#Financial knowledge
# importing the pandas library 
import pandas as pd 
csv_file ="C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
# reading the csv file 
df = pd.read_csv(csv_file) 

  
# updating the column value/data 
df['Financialknowledge'] = 1 + 1 * (df['Do you have any informal education in finance ? '] == 'Youtube videos')+ 1 * (df['Do you have any informal education in finance ? '] == 'Free courses')+ 2 * (df['Do you have any informal education in finance ? '] == 'Paid courses')
+ 1 * (df['Count_financialProductsKnown'])+ 2* (df['Count_financialProductsOwned']) + 2 * (df['Count_financialProductsChosen']) 


# writing into the file 
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False) 
  
print(df)

              Timestamp     Formal Education in  Gender        Age  \
0   11/27/2023 14:42:09                   Other    Male  21-30 yrs
1   11/27/2023 14:44:29                   Other    Male  21-30 yrs
2   11/27/2023 14:45:08                   Other  Female  15-20 yrs
3   11/27/2023 14:51:24  Finance related domain    Male  21-30 yrs
4   11/27/2023 14:55:14                   Other  Female  21-30 yrs
5   11/27/2023 14:55:19  Finance related domain    Male  21-30 yrs
6   11/27/2023 14:58:34  Finance related domain    Male  21-30 yrs
7   11/27/2023 14:59:26                   Other    Male  21-30 yrs
8   11/27/2023 15:43:51                   Other  Female  21-30 yrs
9   11/27/2023 16:08:39                   Other  Female  21-30 yrs
10  11/29/2023 10:39:21  Finance related domain  Female  21-30 yrs
11  11/29/2023 11:19:26                   Other  Female  21-30 yrs
12  11/29/2023 11:20:32  Finance related domain  Female  21-30 yrs
13  11/29/2023 11:20:48                   Other    Male  21-30 yrs
14  11/29/2023 11:25:55                   Other  Female  21-30 yrs
15  11/29/2023 11:38:55                   Other    Male  15-20 yrs
16  11/29/2023 11:49:21                   Other    Male  21-30 yrs
17  11/29/2023 11:50:42                   Other    Male  21-30 yrs
18  11/29/2023 12:50:26  Finance related domain  Female  21-30 yrs
19  11/29/2023 13:10:15  Finance related domain    Male  21-30 yrs
20  11/29/2023 13:17:34                   Other  Female  21-30 yrs
21  11/29/2023 13:39:15                   Other    Male  21-30 yrs
22  11/29/2023 16:27:43  Finance related domain    Male  21-30 yrs
23  11/29/2023 18:34:35                   Other    Male  21-30 yrs
24  11/29/2023 19:53:19  Finance related domain    Male  21-30 yrs
25  11/29/2023 20:30:11  Finance related domain  Female  21-30 yrs
26  11/29/2023 23:04:19                   Other    Male  15-20 yrs
27     12-02-2023 18:58                   Other  Female  21-30 yrs
28     12-04-2023 13:47  Finance related domain    Male  21-30 yrs
29     12-04-2023 13:52                   Other  Female  21-30 yrs
30  12/13/2023 20:06:27                   Other  Female  21-30 yrs
31  12/13/2023 20:49:48                   Other  Female  21-30 yrs
32  12/13/2023 21:11:18                   Other  Female  21-30 yrs
33  12/13/2023 22:06:38                   Other    Male  21-30 yrs

   Education Level Region (currently living in)  \
0        Bachelors                         City
1          Masters                         Town
2          Masters                      Village
3          Masters                      Village
4          Masters                      Village
5          Masters                         Town
6    PhD/Doctorate                         City
7        Bachelors                         Town
8          Masters                         Town
9        Bachelors                      Village
10         Masters                      Village
11       Bachelors                      Village
12         Masters                         Town
13         Masters                         Town
14         Masters                         Town
15       Bachelors                      Village
16         Masters                         Town
17       Bachelors                         Town
18       Bachelors                         City
19         Masters                         Town
20         Masters                         City
21         Masters                      Village
22         Masters                      Village
23       Bachelors                      Village
24         Masters                         Town
25       Bachelors                         City
26         Masters                         Town
27         Masters                         City
28         Masters                      Village
29       Bachelors                      Village
30       Bachelors                      Village
31         Masters                      Village
32       Bachelors                         Town
33       Bachelors                      Village

   Who do you usually live with in your household? Do you liveâ€¦  \
0                                         With Family
1                                         With Family
2                                         With Family
3                                         With Family
4                                         With Family
5                                         With Family
6                                         With Family
7                                         With Family
8                                         With Family
9                                         With Family
10                                        With Family
11                                        With Family
12                                        With Family
13                                        With Family
14                                        With Family
15                                        With Family
16                                        With Family
17                                        With Family
18                                        With Family
19                                        With Family
20                                        With Family
21                                        With Family
22                                        With Family
23                                        With Family
24                                        With Family
25                                        With Family
26                                        With Family
27                                        With Family
28                                        With Family
29                                        With Family
30                                        With Family
31                                        With Family
32                                        With Family
33                                        With Family

    Number of Members in Family  \
0                             4
1                             3
2                             4
3                            16
4                             3
5                             5
6                             4
7                             2
8                             5
9                             5
10                            5
11                            6
12                            7
13                            3
14                            3
15                            3
16                            3
17                            4
18                            2
19                            5
20                            4
21                            5
22                            5
23                            4
24                            4
25                            6
26                            3
27                            4
28                            7
29                            4
30                            5
31                            3
32                            6
33                            3

    How many members are responsible for managing household income?  \
0                                                   3
1                                                   2
2                                                   2
3                                                   6
4                                                   2
5                                                   2
6                                                   2
7                                                   1
8                                                   3
9                                                   5
10                                                  2
11                                                  1
12                                                  5
13                                                  1
14                                                  1
15                                                  3
16                                                  2
17                                                  1
18                                                  1
19                                                  1
20                                                  1
21                                                  2
22                                                  1
23                                                  1
24                                                  1
25                                                  4
26                                                  1
27                                                  1
28                                                  5
29                                                  2
30                                                  2
31                                                  2
32                                                  2
33                                                  3

   Do you contribute to household expenditure?  ...  \
0                                           No  ...
1                                           No  ...
2                                           No  ...
3                                           No  ...
4                                           No  ...
5                                           No  ...
6                                           No  ...
7                                          Yes  ...
8                                           No  ...
9                                           No  ...
10                                          No  ...
11                                          No  ...
12                                          No  ...
13                                          No  ...
14                                          No  ...
15                                         Yes  ...
16                                          No  ...
17                                          No  ...
18                                          No  ...
19                                          No  ...
20                                         Yes  ...
21                                          No  ...
22                                          No  ...
23                                          No  ...
24                                          No  ...
25                                          No  ...
26                                         Yes  ...
27                                          No  ...
28                                         Yes  ...
29                                          No  ...
30                                          No  ...
31                                         Yes  ...
32                                          No  ...
33                                         Yes  ...

   How much do you spend on travel every week on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on clothes and accessories every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on daily neccesseties every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

    FinancialLiteracyScore  EducationScore  Count_financialProductsKnown  \
0                        3               2                            11
1                        1               3                             8
2                        1               3                             8
3                        3               6                             3
4                        1               3                            10
5                        3               6                            10
6                        1               4                            12
7                        3               2                             7
8                        3               3                             8
9                        3               2                             6
10                       3               6                            12
11                       3               2                             6
12                       3               6                            10
13                       3               3                            10
14                       3               3                             9
15                       3               2                            11
16                       1               3                             9
17                       1               2                             6
18                       3               5                            11
19                       3               6                             8
20                       3               3                             8
21                       3               3                             4
22                       3               6                             5
23                       3               2                            10
24                       1               6                            10
25                       3               5                            11
26                       3               3                            10
27                       3               3                             8
28                       3               6                            12
29                       1               2                             7
30                       1               2                             5
31                       1               3                             6
32                       1               2                             5
33                       3               2                             9

    Count_financialProductsOwned  Count_financialProductsChosen  \
0                              3                              3
1                              1                              1
2                              4                              4
3                              2                              2
4                              3                              1
5                              2                              1
6                              4                              3
7                              1                              1
8                              5                              3
9                              2                              1
10                             3                              3
11                             1                              1
12                             1                              1

In [7]:
#map 'How much do you spend on food every day on an average?' values to 1234
import pandas as pd

# Create a sample DataFrame
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
# reading the csv file 
df = pd.read_csv(csv_file)

In [8]:
#map 'How much do you spend on travel every week on an average?' values to 1234
import pandas as pd

# Create a sample DataFrame
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
# reading the csv file 
df = pd.read_csv(csv_file)

In [9]:
#LifestyleScore
# importing the pandas library 
import pandas as pd 
csv_file = "C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv"
# reading the csv file 
df = pd.read_csv(csv_file) 



# Define a mapping for the values
value_mapping1 = {'Less than 100': 1, '100 - 250': 2, '250 - 500': 3, 'More than 500': 4}


# Map the values in the 'Column' based on the defined mapping
df['How much do you spend on food every day on an average?'] = df['How much do you spend on food every day on an average?'].map(value_mapping1)
#df['Background'] = df['How much do you spend on food every day on an average?'].map(value_mapping1)
# Print the modified DataFrame
print(df)

# writing into the file 
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False) 
  
# Map the values in the 'Column' based on the defined mapping
df['How much do you spend on travel every week on an average?'] = df['How much do you spend on travel every week on an average?'].map(value_mapping1)


# Define a mapping for the values
value_mapping2 = {'Less than 1000': 1, '1000 - 2500': 2, '2500 - 5000': 3, 'More than 5000': 4}

# Map the values in the 'Column' based on the defined mapping
df['How much do you spend on clothes and accessories every month on an average?'] = df['How much do you spend on clothes and accessories every month on an average?'].map(value_mapping2)
# Map the values in the 'Column' based on the defined mapping
df['How much do you spend on daily neccesseties every month on an average?'] = df['How much do you spend on clothes and accessories every month on an average?'].map(value_mapping2)



  
# updating the column value/data 
    
df['LifestyleScore'] = 1 + 2 * (df['Which of the following statements best describes how you purchase items'] == 'I consider products from different companies before buying, I consider only affordable options')
+ 3 * (df['Which of the following statements best describes how you purchase items'] == "I don't consider buying unnecessary products")
+ 1 * (df['Which of the following statements best describes how you purchase items'] == "I am loyal to certain brands and products, I don't consider other affordable options")
+ 1 * (df['How much do you spend on food every day on an average?'])+ 1 * (df['How much do you spend on travel every week on an average?'])
+ 1 * (df['How much do you spend on clothes and accessories every month on an average?'])+ 1* (df['How much do you spend on daily neccesseties every month on an average?'])  


# writing into the file 
df.to_csv("C:\\Users\\gisfe\\Downloads\\QUESTIONNAIRE DATASET.csv", index=False) 
  
print(df)

              Timestamp     Formal Education in  Gender        Age  \
0   11/27/2023 14:42:09                   Other    Male  21-30 yrs
1   11/27/2023 14:44:29                   Other    Male  21-30 yrs
2   11/27/2023 14:45:08                   Other  Female  15-20 yrs
3   11/27/2023 14:51:24  Finance related domain    Male  21-30 yrs
4   11/27/2023 14:55:14                   Other  Female  21-30 yrs
5   11/27/2023 14:55:19  Finance related domain    Male  21-30 yrs
6   11/27/2023 14:58:34  Finance related domain    Male  21-30 yrs
7   11/27/2023 14:59:26                   Other    Male  21-30 yrs
8   11/27/2023 15:43:51                   Other  Female  21-30 yrs
9   11/27/2023 16:08:39                   Other  Female  21-30 yrs
10  11/29/2023 10:39:21  Finance related domain  Female  21-30 yrs
11  11/29/2023 11:19:26                   Other  Female  21-30 yrs
12  11/29/2023 11:20:32  Finance related domain  Female  21-30 yrs
13  11/29/2023 11:20:48                   Other    Male  21-30 yrs
14  11/29/2023 11:25:55                   Other  Female  21-30 yrs
15  11/29/2023 11:38:55                   Other    Male  15-20 yrs
16  11/29/2023 11:49:21                   Other    Male  21-30 yrs
17  11/29/2023 11:50:42                   Other    Male  21-30 yrs
18  11/29/2023 12:50:26  Finance related domain  Female  21-30 yrs
19  11/29/2023 13:10:15  Finance related domain    Male  21-30 yrs
20  11/29/2023 13:17:34                   Other  Female  21-30 yrs
21  11/29/2023 13:39:15                   Other    Male  21-30 yrs
22  11/29/2023 16:27:43  Finance related domain    Male  21-30 yrs
23  11/29/2023 18:34:35                   Other    Male  21-30 yrs
24  11/29/2023 19:53:19  Finance related domain    Male  21-30 yrs
25  11/29/2023 20:30:11  Finance related domain  Female  21-30 yrs
26  11/29/2023 23:04:19                   Other    Male  15-20 yrs
27     12-02-2023 18:58                   Other  Female  21-30 yrs
28     12-04-2023 13:47  Finance related domain    Male  21-30 yrs
29     12-04-2023 13:52                   Other  Female  21-30 yrs
30  12/13/2023 20:06:27                   Other  Female  21-30 yrs
31  12/13/2023 20:49:48                   Other  Female  21-30 yrs
32  12/13/2023 21:11:18                   Other  Female  21-30 yrs
33  12/13/2023 22:06:38                   Other    Male  21-30 yrs

   Education Level Region (currently living in)  \
0        Bachelors                         City
1          Masters                         Town
2          Masters                      Village
3          Masters                      Village
4          Masters                      Village
5          Masters                         Town
6    PhD/Doctorate                         City
7        Bachelors                         Town
8          Masters                         Town
9        Bachelors                      Village
10         Masters                      Village
11       Bachelors                      Village
12         Masters                         Town
13         Masters                         Town
14         Masters                         Town
15       Bachelors                      Village
16         Masters                         Town
17       Bachelors                         Town
18       Bachelors                         City
19         Masters                         Town
20         Masters                         City
21         Masters                      Village
22         Masters                      Village
23       Bachelors                      Village
24         Masters                         Town
25       Bachelors                         City
26         Masters                         Town
27         Masters                         City
28         Masters                      Village
29       Bachelors                      Village
30       Bachelors                      Village
31         Masters                      Village
32       Bachelors                         Town
33       Bachelors                      Village

   Who do you usually live with in your household? Do you liveâ€¦  \
0                                         With Family
1                                         With Family
2                                         With Family
3                                         With Family
4                                         With Family
5                                         With Family
6                                         With Family
7                                         With Family
8                                         With Family
9                                         With Family
10                                        With Family
11                                        With Family
12                                        With Family
13                                        With Family
14                                        With Family
15                                        With Family
16                                        With Family
17                                        With Family
18                                        With Family
19                                        With Family
20                                        With Family
21                                        With Family
22                                        With Family
23                                        With Family
24                                        With Family
25                                        With Family
26                                        With Family
27                                        With Family
28                                        With Family
29                                        With Family
30                                        With Family
31                                        With Family
32                                        With Family
33                                        With Family

    Number of Members in Family  \
0                             4
1                             3
2                             4
3                            16
4                             3
5                             5
6                             4
7                             2
8                             5
9                             5
10                            5
11                            6
12                            7
13                            3
14                            3
15                            3
16                            3
17                            4
18                            2
19                            5
20                            4
21                            5
22                            5
23                            4
24                            4
25                            6
26                            3
27                            4
28                            7
29                            4
30                            5
31                            3
32                            6
33                            3

    How many members are responsible for managing household income?  \
0                                                   3
1                                                   2
2                                                   2
3                                                   6
4                                                   2
5                                                   2
6                                                   2
7                                                   1
8                                                   3
9                                                   5
10                                                  2
11                                                  1
12                                                  5
13                                                  1
14                                                  1
15                                                  3
16                                                  2
17                                                  1
18                                                  1
19                                                  1
20                                                  1
21                                                  2
22                                                  1
23                                                  1
24                                                  1
25                                                  4
26                                                  1
27                                                  1
28                                                  5
29                                                  2
30                                                  2
31                                                  2
32                                                  2
33                                                  3

   Do you contribute to household expenditure?  ...  \
0                                           No  ...
1                                           No  ...
2                                           No  ...
3                                           No  ...
4                                           No  ...
5                                           No  ...
6                                           No  ...
7                                          Yes  ...
8                                           No  ...
9                                           No  ...
10                                          No  ...
11                                          No  ...
12                                          No  ...
13                                          No  ...
14                                          No  ...
15                                         Yes  ...
16                                          No  ...
17                                          No  ...
18                                          No  ...
19                                          No  ...
20                                         Yes  ...
21                                          No  ...
22                                          No  ...
23                                          No  ...
24                                          No  ...
25                                          No  ...
26                                         Yes  ...
27                                          No  ...
28                                         Yes  ...
29                                          No  ...
30                                          No  ...
31                                         Yes  ...
32                                          No  ...
33                                         Yes  ...

   How much do you spend on travel every week on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on clothes and accessories every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

   How much do you spend on daily neccesseties every month on an average?  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

    FinancialLiteracyScore  EducationScore  Count_financialProductsKnown  \
0                        3               2                            11
1                        1               3                             8
2                        1               3                             8
3                        3               6                             3
4                        1               3                            10
5                        3               6                            10
6                        1               4                            12
7                        3               2                             7
8                        3               3                             8
9                        3               2                             6
10                       3               6                            12
11                       3               2                             6
12                       3               6                            10
13                       3               3                            10
14                       3               3                             9
15                       3               2                            11
16                       1               3                             9
17                       1               2                             6
18                       3               5                            11
19                       3               6                             8
20                       3               3                             8
21                       3               3                             4
22                       3               6                             5
23                       3               2                            10
24                       1               6                            10
25                       3               5                            11
26                       3               3                            10
27                       3               3                             8
28                       3               6                            12
29                       1               2                             7
30                       1               2                             5
31                       1               3                             6
32                       1               2                             5
33                       3               2                             9

    Count_financialProductsOwned  Count_financialProductsChosen  \
0                              3                              3
1                              1                              1
2                              4                              4
3                              2                              2
4                              3                              1
5                              2                              1
6                              4                              3
7                              1                              1
8                              5                              3
9                              2                              1
10                             3                              3
11                             1                              1
12                             1                              1

In [10]:
df_score = df[ 
    (df['FinancialLiteracyScore'].notnull()) & 
    (df['LifestyleScore'].notnull())
][['FinancialLiteracyScore','LifestyleScore']]
df_score

    FinancialLiteracyScore  LifestyleScore
0                        3               3
1                        1               1
2                        1               3
3                        3               1
4                        1               3
5                        3               3
6                        1               1
7                        3               3
8                        3               1
9                        3               3
10                       3               3
11                       3               3
12                       3               1
13                       3               1
14                       3               3
15                       3               3
16                       1               1
17                       1               3
18                       3               3
19                       3               3
20                       3               1
21                       3               1
22                       3               3
23                       3               1
24                       1               3
25                       3               1
26                       3               1
27                       3               1
28                       3               1
29                       1               1
30                       1               3
31                       1               3
32                       1               3
33                       3               3

In [11]:
from scipy.stats import ttest_rel

test_statistic, p_value = ttest_rel(df_score['FinancialLiteracyScore'], df_score['LifestyleScore'],alternative='less')

print("test statistic= ",test_statistic)
print("P value= ",p_value)

if p_value < 0.05:
    print("\nWe Reject Null Hypothesis")
else:
    print("\nWe Accept Null Hypothesis")

test statistic=  0.9412258178930584
P value=  0.8232856735633596

We Accept Null Hypothesis

In [12]:
df_score = df[ 
    (df['FinancialLiteracyScore'].notnull()) & 
    (df['EducationScore'].notnull())
][['FinancialLiteracyScore','EducationScore']]
df_score

    FinancialLiteracyScore  EducationScore
0                        3               2
1                        1               3
2                        1               3
3                        3               6
4                        1               3
5                        3               6
6                        1               4
7                        3               2
8                        3               3
9                        3               2
10                       3               6
11                       3               2
12                       3               6
13                       3               3
14                       3               3
15                       3               2
16                       1               3
17                       1               2
18                       3               5
19                       3               6
20                       3               3
21                       3               3
22                       3               6
23                       3               2
24                       1               6
25                       3               5
26                       3               3
27                       3               3
28                       3               6
29                       1               2
30                       1               2
31                       1               3
32                       1               2
33                       3               2

In [13]:
from scipy.stats import ttest_rel

test_statistic, p_value = ttest_rel(df_score['FinancialLiteracyScore'], df_score['EducationScore'],alternative='less')

print("test statistic= ",test_statistic)
print("P value= ",p_value)

if p_value < 0.05:
    print("\nWe Reject Null Hypothesis")
else:
    print("\nWe Accept Null Hypothesis")

test statistic=  -4.178554470186725
P value=  0.00010106296517453298

We Reject Null Hypothesis

In [14]:
df_score = df[ 
    (df['FinancialLiteracyScore'].notnull()) & 
    (df['Financialknowledge'].notnull())
][['FinancialLiteracyScore','Financialknowledge']]
df_score

    FinancialLiteracyScore  Financialknowledge
0                        3                   2
1                        1                   3
2                        1                   2
3                        3                   1
4                        1                   2
5                        3                   2
6                        1                   2
7                        3                   2
8                        3                   1
9                        3                   1
10                       3                   1
11                       3                   1
12                       3                   1
13                       3                   2
14                       3                   1
15                       3                   2
16                       1                   1
17                       1                   2
18                       3                   2
19                       3                   2
20                       3                   1
21                       3                   1
22                       3                   2
23                       3                   2
24                       1                   2
25                       3                   3
26                       3                   2
27                       3                   1
28                       3                   2
29                       1                   1
30                       1                   1
31                       1                   1
32                       1                   1
33                       3                   2

In [15]:
from scipy.stats import ttest_rel

test_statistic, p_value = ttest_rel(df_score['FinancialLiteracyScore'], df_score['Financialknowledge'],alternative='less')

print("test statistic= ",test_statistic)
print("P value= ",p_value)

if p_value < 0.05:
    print("\nWe Reject Null Hypothesis")
else:
    print("\nWe Accept Null Hypothesis")

test statistic=  3.772791334190874
P value=  0.9996809489001864

We Accept Null Hypothesis

In [16]:
df.describe()

,Number of Members in Family,How many members are responsible for managing household income?,I tend to live for today and let tomorrow take care of itself.,I find it more satisfying to spend money than to save it for the long term.,I pay my bills on time.,I am prepared to risk some of my own money when saving or making an investment.,I keep a close personal watch on my finance,I set long term financial goals and strive to achieve them.,I have money left over to be spent at the end of the month,Before I buy something I carefully consider whether I can afford it,...,How much do you spend on travel every week on an average?,How much do you spend on clothes and accessories every month on an average?,How much do you spend on daily neccesseties every month on an average?,FinancialLiteracyScore,EducationScore,Count_financialProductsKnown,Count_financialProductsOwned,Count_financialProductsChosen,Financialknowledge,LifestyleScore
count,34.000000,34.000000,34.000000,34.000000,33.000000,33.000000,33.000000,32.000000,32.000000,33.000000,...,0.0,0.0,0.0,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,4.558824,2.176471,3.411765,3.676471,1.969697,2.727273,2.090909,2.125000,2.562500,1.575758,...,NaN,NaN,NaN,2.352941,3.529412,8.382353,2.352941,2.029412,1.617647,2.117647
std,2.389258,1.381053,1.437963,1.248529,1.262063,1.352607,1.208399,1.157026,1.242721,0.936426,...,NaN,NaN,NaN,0.949716,1.580857,2.437270,1.721211,1.487020,0.603761,1.007989
min,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,1.000000,3.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.750000,1.000000,...,NaN,NaN,NaN,1.000000,2.000000,6.250000,1.000000,1.000000,1.000000,1.000000
50%,4.000000,2.000000,4.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.500000,1.000000,...,NaN,NaN,NaN,3.000000,3.000000,8.500000,2.000000,1.000000,2.000000,3.000000
75%,5.000000,2.750000,5.000000,5.000000,2.000000,3.000000,3.000000,3.000000,3.250000,2.000000,...,NaN,NaN,NaN,3.000000,5.000000,10.000000,3.000000,3.000000,2.000000,3.000000
max,16.000000,6.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,...,NaN,NaN,NaN,3.000000,6.000000,12.000000,7.000000,7.000000,3.000000,3.000000

In [17]:
df.shape

(34, 45)